<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459787963543-glg726ncrrg1pv3e72feajupiovfgqgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459787963543-glg726ncrrg1pv3e72feajupiovfgqgc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>459787963543-1aut6kqvtd7s3r52t3kmk5anil2aia0t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpaQRe-gul7x7cuaRDRu68sMpZlkgI2Go</string>
	<key>GCM_SENDER_ID</key>
	<string>459787963543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.sociable</string>
	<key>PROJECT_ID</key>
	<string>sociable-c403e</string>
	<key>STORAGE_BUCKET</key>
	<string>sociable-c403e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459787963543:ios:333c3acf299680d911add2</string>
</dict>
</plist>