<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783880828424-rnglaorq8t4b0c5re489flbeiq4tr9e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783880828424-rnglaorq8t4b0c5re489flbeiq4tr9e5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783880828424-lm4ods8ql4osrr3hmt1ik1rfqkracauk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAuNyuITlR42qrh_8t08kUwtYrDSgyY-M</string>
	<key>GCM_SENDER_ID</key>
	<string>783880828424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.sociable</string>
	<key>PROJECT_ID</key>
	<string>sociable-2f985</string>
	<key>STORAGE_BUCKET</key>
	<string>sociable-2f985.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783880828424:ios:3ca8200c239b202e9843bd</string>
</dict>
</plist>