.nlsmenu {
    border-top:#B9C1CA 1px solid;
    border-left:#B9C1CA 1px solid;
    border-bottom:#999999 1px solid;
    border-right:#999999 1px solid;
    background-image:url(../images/od_context_bg_std_v.gif);
    padding:1px 1px 1px 1px;
    z-index:1;   
}

.nlsitemcontainer {height:20px;padding:1px;}
.nlsiconcell {width:22px;}
.nlssubmenucell{width:20px;}
.nlsitem {
    font-family:Tahoma,Verdana,Arial;
    font-size:11px;
    color:#333333;
    padding:2px 5px 2px 5px;
}

.nlsitemcontainerover {
    height:20px;
    border:#355D8C 1px solid;
    background-color:#355D8C;
    padding:0px;
}
.nlsiconcellover {width:22px;}
.nlssubmenucellover {width:20px;}
.nlsitemover {
    font-family:Tahoma,Verdana,Arial;
    font-size:11px;
    color:#ffffff;
    padding:2px 5px 2px 5px;
}

.nlsitemdisable {
    font-family:Tahoma,Verdana,Arial;
    font-size:11px;
    color:#999999;
    padding:2px 5px 2px 5px;
}

.nlsseparatorcontainer {padding-left:28px;}
.nlsseparator {
    height:5px;
    background-image:url(../images/od_context_separator.gif);
    background-position:center center;
    background-repeat:repeat-x;
}

.mtopleft {height:0px; width:0px;}
.mtopright {height:0px; width:0px;}
.mbottomleft {width:0px; height:0px;}
.mbottomright {width:0px; height:0px;}
.mtop {height:0px;}
.mbottom {height:0px;}
.mleft {width:0px;}
.mright {width:0px;}

.horzshadow { -moz-opacity:0.4;background-repeat:no-repeat; background-image:url(../images/od_context_hshadow.gif);filter:progid:DXImageTransform.Microsoft.Alpha( Opacity=40, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);}
.vertshadow { -moz-opacity:0.4;background-repeat:no-repeat; background-image:url(../images/od_context_vshadow.gif);filter:progid:DXImageTransform.Microsoft.Alpha( Opacity=40, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);}
.cornshadow { -moz-opacity:0.4;background-repeat:no-repeat; background-image:url(../images/od_context_cornershadow.gif);filter:progid:DXImageTransform.Microsoft.Alpha( Opacity=40, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);}
