.hint-main1 {border:2px solid #58a7de; background:#fff; padding:20px; width:500px; float:left; -moz-border-radius:10px; -webkit-border-radius:10px;}
.hint-main2 {border:2px solid #58a7de; background:#fff; padding:20px; width:359px; height:185; float:left; -moz-border-radius:10px; -webkit-border-radius:10px;}
.hint-main3 {border:2px solid #58a7de; background:#fff; padding:20px; width:387px; height:185; float:left; -moz-border-radius:10px; -webkit-border-radius:10px;}
.hint-main4 {border:2px solid #58a7de; background:#fff; padding:20px; width:587px; height:185; float:left; -moz-border-radius:10px; -webkit-border-radius:10px;}

.hint-main29 {border:2px solid #58a7de; background:#fff; padding:20px; width:500px; height:358px; float:left; -moz-border-radius:10px; -webkit-border-radius:10px;}
hint-main-int {border:2px solid #58a7de; background:#fff; padding:20px; width:400px; height:200px; float:left; -moz-border-radius:10px; -webkit-border-radius:10px;}
.hint-main1 span {width:500px; float:left; text-align:center; margin:10px 0 0 0;}
.hint-main1 h1 {width:500px!important; float:left; text-align:center!important; color:#c34613!important; font-size:22px!important; font-weight:bold;}

#light .hint-bg1{ width:auto; color:#000066}


/* popup */
.black_overlay{display: none; position: fixed; top:0%; left:0%;  width: 100%; height:2000px;  background-color: #000;   -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);}
.popup2{display:none; z-index:99999!important;}
body {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #F2F2F2;
	margin:0px;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

div, p, ul, h1, h2, h3, h4, h5, h6, form, label {
	margin:0px;
	padding:0px;
}
ul{
	list-style-type:none;
}
#topPanel {
	background-color:#184BA4;
	height:65px;
	width:auto;
}
#logo{
	margin-top: 13px;
	margin-left: 10px;
	float:left;
}
#fixedLinks{
	float: right;
	margin-top:6px;
}


/* START Comment by NKP conflict by quill editor */


li{
	/*display:inline;*/
	/*list-style-type:none;*/
	/*padding-right:10px;*/
	/*display: list-item;*/
	list-style-position: inside;
}

/* END Comment by NKP conflict by quill editor */

#languagePanel {
	background: url(../images/newdesign/language_panel_bg.gif) repeat-x left top;
	height: 27px;
	padding-left: 20px;
	padding-top: 5px;
	margin: 0px;
	padding-right: 20px;
}
#logged{
	text-align: right;
	position: absolute;
	right: 20px;
	top: 74px;
}
#topPanelDistributor {
	background: url(../images/newdesign/distributor_top_panel.gif) repeat-x left top;
	height: 6px;
	margin: 0px;
	padding: 0px;
	width: auto;
}
#leftPanelContainer{
	width:100%;
	float: left;
	margin: 0px;
	padding: 0px;
	height: 100%;
	border-bottom: 1px solid #335173;
	background: #D5E3F6;
}
#leftPanel{
	width:100%;
	float:left;
	background: #D5E3F6;
	height: 98%;
}
#pulloutSide{
	width: 7px;
	border-bottom: 1px solid #335173;
	height:265px;
	background: url(../images/newdesign/pull_out_side_bg.gif) repeat-y left top;
	float: left;
	padding-top: 210px;
	margin: 0px;
}
li.tab{
	text-indent: 15px;
	font: bold 12px/30px tahoma;
	padding: 0px;



}
li.tab span { padding:0px 0px 0 0px; margin: -20px 9px 0 0; width: 100%; height:20px; float: right; background: url(../images/newdesign/arrow_right.gif) no-repeat right top; border: none!important;}
li.tab span:hover{ padding:0; margin: -20px 9px 0 0;width: 100%; height:20px; float: right; background: url(../images/newdesign/arrow_down.gif) no-repeat right top; border: none!important;}
li.tab span focus{border: none!important;}
/*li.tab a{
	background: url(../images/newdesign/tabs_normal_bg.gif) no-repeat right top;
	height: 32px;
	display: block;
	color:#000000;
	text-decoration: none;
	width: 100%;
	float:left;
}
li.tab a:hover{
	background: url(../images/newdesign/tabs_hover_bg.gif) no-repeat right top;
	text-decoration: underline;
}*/

li.tab a{
	background: -moz-linear-gradient(#c5ddf9, #8fb3e7); /* FF 3.6+ */
    background: -ms-linear-gradient(#c5ddf9, #8fb3e7); /* IE10 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #c5ddf9), color-stop(100%, #8fb3e7)); /* Safari 4+, Chrome 2+ */
    background: -webkit-linear-gradient(#f5f5f5, #8fb3e7); /* Safari 5.1+, Chrome 10+ */
    background: -o-linear-gradient(#f5f5f5, #8fb3e7); /* Opera 11.10 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5ddf9', endColorstr='#8fb3e7'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#c5ddf9, endColorstr=#8fb3e7)"; /* IE8+ */
    background: linear-gradient(#c5ddf9, #8fb3e7); /* the standard */
    background-image: -o-linear-gradient(top, #c5ddf9, #8fb3e7);
  background-image: linear-gradient(top,#c5ddf9, #8fb3e7);
	height: 32px;
	display: block;
	color:#000000;
	text-decoration: none;
	width: 100%;
	float:left;
        padding:2px 0 5px 0;


}
li.tab a:hover{

background: -moz-linear-gradient(#fae08b, #f0a025); /* FF 3.6+ */
    background: -ms-linear-gradient(#fae08b, #f0a025); /* IE10 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #fae08b), color-stop(100%, #f0a025)); /* Safari 4+, Chrome 2+ */
    background: -webkit-linear-gradient(#fae08b, #f0a025); /* Safari 5.1+, Chrome 10+ */
    background: -o-linear-gradient(#fae08b, #f0a025); /* Opera 11.10 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae08b', endColorstr='#f0a025'); /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fae08b, endColorstr=#f0a025)"; /* IE8+ */
    background: linear-gradient(#fae08b, #f0a025); /* the standard */
    background-image: -o-linear-gradient(top, #fae08b, #f0a025);
  background-image: linear-gradient(top,#fae08b, #f0a025);
	text-decoration: underline;
}
li.tabactive{
	text-indent: 15px;
	font: bold 12px/30px tahoma;
	padding: 0px;
}
li.tabactive a{
	background: url(../images/newdesign/tabs_hover_bg.gif) no-repeat right top;
	height: 32px;
	display: block;
	color:#000000;
	text-decoration: none;
	width: 100%;
}
li.tabactive a:hover{
	background: url(../images/newdesign/tabs_hover_bg_over.gif) no-repeat right top;
	text-decoration: underline;
}
li.clock{
    width:100%;
	text-indent: 15px;
	font: bold 12px/30px tahoma;
	padding: 0px;
}
li.clock a{
	background: url(../images/newdesign/clock.gif) no-repeat right top;
	height: 32px;
	display: block;
	color:#FFFFFF;
	text-decoration: none;
	width: 100%;
}
li.clock a:hover{
	background: url(../images/newdesign/clock.gif) no-repeat right top;
	text-decoration: underline;
}
#open
{
	margin: 0px;
	padding: 0px;
	font: bold 11px/22px Tahoma;
	color: #000000;
	text-align: left;
	text-indent: 30px;
	background: #FFFFFF;
	text-decoration:none;
	width: 100%;
}
#open a
{
	font: bold 11px/22px Tahoma;
	color: #000000;
	text-align: left;
	text-indent: 30px;
	background: #FFFFFF;
	text-decoration:none;
}
#open a:hover
{
	text-decoration: underline;
}


#rightPanelContainer{
	position: relative;
	width:755px;
	margin: 0px;
	padding: 0px;
	float: left;
	height:488px;
	border-bottom: 1px solid #335173;

}
#rightTopBar{
    position: relative;
	background: url(../images/newdesign/right_panel_topBar_bg.gif) repeat-x left top;
	height:35px;
	float:left;
	width:100%;
	margin: 0px;
}
#rightTopLinks{
    position: relative;
	width: 350px;
	height: 35px;
	padding: 3px 0px 0px 5px;
	margin: 0px;
}
#rightTopLinks1{
    position: relative;
	width: 750px;
	height: 35px;
	padding: 3px 0px 0px 5px;
	margin: 0px;
}
#new a{
	background: url(../images/newdesign/new_normal.gif) no-repeat left top;
	font: bold 11px/28px Tahoma;
	color: #FFFFFF;
	text-decoration: none;
	height: 28px;
	width: 15%;
	display: block;
	list-style: none;
	float: left;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 30px;
}
#new a:hover{
	background: url(../images/newdesign/new_hover.gif) no-repeat left top;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
#PurgeNegatives a{
	background: url(../images/newdesign/purge_normal.gif) no-repeat left top;
	font: bold 11px/28px Tahoma;
	color: #FFFFFF;
	text-decoration: none;
	height: 28px;
	width: 100px;
	display: block;
	list-style: none;
	float: left;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 30px;
}
#PurgeNegatives a:hover{
	background: url(../images/newdesign/purge_hover.gif) no-repeat left top;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

#view a{
	background: url(../images/newdesign/view_normal.gif) no-repeat left top;
	font: bold 11px/28px Tahoma;
	color: #FFFFFF;
	text-decoration: none;
	height: 28px;
	width: 71px;
	display: block;
	list-style: none;
	float: right;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 30px;
}
#view a:hover{
	background: url(../images/newdesign/view_hover.gif) no-repeat left top;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
#duplicate a{
	background: url(../images/newdesign/new_normal.gif) no-repeat left top;
	font: bold 11px/28px Tahoma;
	color: #FFFFFF;
	text-decoration: none;
	height: 28px;
	width: 100px;
	display: block;
	list-style: none;
	float: right;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 30px;
}
#duplicate a:hover{
	background: url(../images/newdesign/new_hover.gif) no-repeat left top;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
#print a{
	background: url(../images/newdesign/print_normal.gif) no-repeat left top;
	font: bold 11px/28px Tahoma;
	color: #FFFFFF;
	text-decoration: none;
	height: 28px;
	width: 61px;
	display: block;
	list-style: none;
	float: left;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 40px;
}
#print a:hover{
	background: url(../images/newdesign/print_hover.gif) no-repeat left top;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
#rightPanel{

	width:100%;
	float:left;
	height:100%;
	background-color:#F2F2F2;
}
#pulloutBottom{

    position: relative;
	background: url(../images/newdesign/pull_out_bottom_bg.gif) repeat-x left top;
	height: 7px;
	float:left;
	margin: 0px;
	width: 770px;
	text-align: center;
}
#status{
	text-indent: 15px;
	width:100%;
	float:left;
	padding-top: 2px;
	background-color:#FFFFFF;
}
#search {
	background: url(../images/newdesign/search_icon.gif) no-repeat 2px 4px;
	font: bold 11px/28px Tahoma;
	color: #FFFFFF;
	text-decoration: none;
	height: 28px;
	width: 300px;
	list-style: none;
	float: right;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 30px;
}
#se {
	margin: 0px;
	padding: 0px;
	position: relative;
	bottom: 5px;
}
#go {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 3px;
}
#txtfld {
	margin: 0px 5px 4px;
	padding: 0px;
	position: relative;
	bottom: 0px;
	font: normal 11px/16px Tahoma;
	text-decoration: none;
	height: 16px;
	border: 1px solid #CCCCCC;
	width: 150px;
}
#bodyheading{
	margin:10px auto auto;
	width:95%;
	font: bold 12px/24px Tahoma;
	color: #000000;
	text-decoration: none;
	background: #FFFFFF;
	text-indent: 10px;
}

#bodymatter{
	margin:5px auto auto;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	/*font: bold 11px/22px Tahoma */ /* Comment by NKP conflict by quill editor */
	color: #000000;
	text-decoration: none;
	position:relative;
	height: auto;
	}

#bodymattercontainer{
	width:100%;
}
#bodymattercontainer input {
	width: auto;
	margin-top: 2px;
	font: normal 11px/16px tahoma;
}
#bodymattercontainer select {
	width: auto;
	font: normal 11px/16px tahoma;
	margin-top: 2px;
}

#bodymattercontainer textarea {
	font: normal 11px tahoma;
	margin-top: 2px;
	margin-bottom: 0px;
}
#bodymatterleft{
	width:38%;
	float: left;
	text-align: right;
	padding-right: 10px;
}
#bodymatterright{
	width:58%;
	float: left;
	font-weight: normal;
	padding-left: 10px;
}
#bodymatterright input {
	width: auto;
	margin-top: 2px;
	font: normal 11px/16px tahoma;
}
#bodymatterright select {
	width: auto;
	font: normal 11px/16px tahoma;
	margin-top: 2px;
}

#bodymatterright textarea {
	font: normal 11px tahoma;

	margin-top: 2px;
	margin-bottom: 0px;
}
#buttton {
	font: bold 11px tahoma;
	color: #000000;
	padding: 0px 5px;
	height: auto;
	background: #CCCCCC;
	border: 1px solid #999999;
	margin-right: 5px;
}

#explode {
			position : absolute;
			left : 200px;
			top : 100px;
			background : #AFD5F0;
			width : 300px;
			height : 300px;
			text-align : center;
			display:none;
		}


li.expl{
	text-indent: 0px;
	font: bold 11px tahoma;
	text-align : left;
	padding-left: 20px;
	padding-top: 10px;
	margin-top:5px;
}
li.expl a{

    height: 15px;
	padding-left: 20px;
	padding-top: 10px;
	text-align : left;
	display: block;
	color:#000000;
	text-decoration: none;
}

li.expl a:hover{
	text-decoration: underline;
}

#pulloutSide1{
    position:relative;
    left:0px;
	width: 7px;
	border-bottom: 1px solid #335173;
	height:400px;
	background: url(../images/newdesign/pull_out_side_bg.gif) repeat-y left top;
	float: left;
	padding-top: 210px;
	margin: 0px;
}
#bodymatterhome{
	margin:5px auto auto;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	font: bold 11px/22px Tahoma;
	color: #000000;
	text-decoration: none;
	position:relative;
	height: 500px;
}

#normalback a{
	background: url(../images/newdesign/new_normal_up.gif) no-repeat left top;
	font: bold 11px/28px Tahoma;
	color: #FFFFFF;
	text-decoration: none;
	height: 28px;
	width: 130px;
	display: block;
	list-style: none;
	float: left;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 10px;
}
#normalback a:hover{
	background: url(../images/newdesign/new_hover_up.gif) no-repeat left top;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

#lineseperatorframe{
position:absolute;
left:0px;
width: 7px;
border-bottom: 1px solid #335173;
background: url(../images/newdesign/pull_out_side_bg.gif) repeat-y left top;
height:98%;
padding-top:210px;

}
 #milestone_name1 {width:80px; float:left;}
 #milestone_date1 {width:80px; float:left; margin:0 0 0 18px;}
 #milestone_remark1 {width:80px; float:left; margin:0 0 0 18px;}
 #milestone_amount1 {width:75px; float:left; margin:0 0 0 18px;}
 .order { width:5px; margin:0 0 0 20px; text-align:left; float:left;}
 .deleteic {width:9px; margin:0 0 0 30px; text-align:left; float:left;}
 .mileone {width:475px !important; float:left; }
 #externaldata
  {
    font-size:11px;
	color:#333333;
  }
  #internaldata
  {
    font-size:10px;
	color:#333333;
  }

.upper_emp .border_bot{ border-bottom:1px solid #999999;}
		.emp_status{ border-bottom:1px solid #999999;}
		.emp_status td{ color:#666666;padding-bottom: 5px;padding-top: 15px; border:none;}
		.emp_rep{ font-weight:normal;  }
		.emp_rep .td_img{background:url("images/arrow_right.gif") no-repeat scroll 0 1px transparent; padding-left:17px;}


